@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

.main-introduction-container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 600px;
}


.intro-text{
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Yatra One', cursive;

}
h3{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Yatra One', cursive; 
}


.typing-container{
    color: white;
}

@media screen and (max-width:600px){
    
.main-introduction-container{

    width: 100%;

}
}
