.about-section {
  margin: 5rem 0;
}

.section-title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.about-details-container {
  display: flex;
  justify-content: space-around;
}
.about-img-container {
  width: 500px;
}

.about-img-container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  /* padding: 10px; */
}

.about-text {
  width: 500px;
}

.about-text h1 {
  margin: 10px 0;
}

.about-text h3 {
  text-transform: capitalize;
}

.about-text p {
  /* text-transform: capitalize; */
  font-size: 1.4rem;
}

@media screen and (max-width: 700px) {
  .about-section {
    overflow-x: hidden;
  }

  .about-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .about-img-container {
    width: 100%;
  }
  .about-text {
    width: 100%;
  }
  .about-img-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}

.experience_wrapper {
  margin-top: 4rem;
}

.company_title {
  /* margin: 0; */
  /* color: red; */
}

.company_name {
  margin: 10px 0;
}

.date_button {
  background: transparent;
  color: black;
  height: 45px;
  width: auto;
  border-radius: 8px;
  font-size: 18px;
  padding: 0 10px;
}

.experience_list {
  margin-top: 2rem;
  margin-left: 20px;
}

.list_item {
  font-size: 1.2rem;
}
