.progress-container{
    position: relative;
}

.progress-bar,.progress-fill{
    margin: 0;
}

.skill{
    margin: 0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: left;
}

.label{
  position: absolute;
  top: 0;
  right: 180px;
  font-weight: lighter;
}

@media screen and (max-width:700px) {
    .label{
        position: absolute;
        top: 0;
        right: 120px;
        font-weight: lighter;
      }
    
}